
/* xxx.css */
.container {
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}
.min-progress {
    width: 300px;
    height: 300px;
    left: 77px;
    top: 77px;
    color: #e9488aff;
}


.stack-parent {
    width: 454px;
    height: 454px;
    justify-content: center;
    align-items: center;
}

.time {
    width: 300px;
    height: 300px;
    color: cornflowerblue;
    font-size: 60px;
    left: 77px;
    top: 185px;
    text-align: center;
    flex-direction: column;
}

.time-amount {
    width: 300px;
    height: 60px;
    color: #e9488aff;
    font-size: 60px;
    text-align: center;
}

.control {
    width: 300px;
    height: 300px;
    color: #e9488aff;
    font-size: 60px;
    left: 77px;
    top: 335px;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
}

.replay {
    width: 60px;
    height: 60px;
    font-size: 60px;
    text-align: center;
    margin-right: 10px;
}

.play-pause{
    width: 60px;
    height: 60px;
    font-size: 60px;
    text-align: center;
    margin-left: 10px;
}


